* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 15px auto;

  padding: 15px;
  background: #222;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

